<h1>Music Player</h1>
<div id="app">
</div>
<button type="button" disabled>&#x23ee;</button>
<button type="button" onClick="playPause();">&#x23ef;</button>
<button type="button" disabled>&#x23f9;</button>
<button type="button" disabled>&#x23ed;</button>

<script type="text/javascript">
  function playPause() {
    fetch('/pause')
      .then((response) => {
        return response.text()
      })
      .then((data) => {
        if (data === "NOT PLAYING") {
          // we have not yet started playback, so use the play endpoint
          console.log('Playing media');
          fetch('/play');
        }
      })
  }
</script>
